/* GALLERY PAGE */
.gallery-section {
  padding: 120px 8% 60px;
  text-align: center;
}

.gallery-section h2 {
  color: #c27802;
  margin-bottom: 30px;
  font-size: 2.2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* LIGHTBOX */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

#lightbox-img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 15px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

#prev { left: 30px; }
#next { right: 30px; }

#prev:hover, #next:hover {
  background: rgba(255,255,255,0.4);
}
